/*RESPONSIVE*/
@media (max-width:1470px){
    .container{
        width: 94%;
    }
    .active .image--container{
        height:100%;
        padding:40px;
        transform: translate(0,0);
    }
}
@media (max-width:950px){
    .menu--item{
        width: 50%;
        &:last-child{
            width: 100%;
            margin-top: 1em;
        }
        .search{
            transform: translateX(0);
        }
        input{
            visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .oncotv--logo{
        background-position: right center;
    }
}
@media (max-width:800px){
    .container{
        margin: 2em auto;
    }
    .shows--item{
        width:48%;
        margin: 2em 0 0 0;
        &:nth-child(2n){
            margin-left: 2%;
        }
    }
    .active .movie--detail{
        position: relative;
    }
    .active .image--container,
    .active .movie--info{
        width:100%;
        position: static;
    }
    .active .image--container{
        padding-bottom: 0;
    }
    .active .image--container img{
        display: block;
        margin: 0 auto;
    }
    .active .movie--info{
        padding: 0 40px 40px 40px;
    }
    .active .button--exit{
        top: 10px;
        right: 10px;
    }
}
@media (max-width:400px){
    .shows--item{
        width:100%;
        margin: 2em 0 0 0;
        &:nth-child(2n){
            margin-left: 0%;
        }
    }
    .search{
        label{
            display: none;
        }
    }
    .menu--item input{
        width:100%;
    }
}