/*NORMALIZE*/
@import "normalize";

/*FONTS*/
$bodyFont : 'Open Sans', sans-serif;

/*COLORS*/
$textColor : #727272;
$backgroundColor : #efefef;
$mainColor : #d37f72;
$secColor : #a7a7a7;

/*ANIMATIONS*/
@keyframes appearOpacity{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes appearMove{
    from{opacity: 0;
        transform: translateX(-20px);}
    to{opacity: 1;
        transform: translateX(0px);}
}

/*LAYOUTS & RESPONSIVE*/
@import "layouts";
@import "responsive";