/*TOPBAR LAYOUT*/
.nav{
    padding: 20px 40px;
    border-bottom: 1px solid $secColor;
}
.menu--item{
    float:left;
    width:33%;
    padding-top: 8px;
}
.menu--item:nth-child(2){
    text-align: center;
    padding-top: 0px;
}
.menu--item:last-child{
    text-align: right;
    overflow: hidden;
    input{
        opacity: 0;
        transition: .2s ease-in-out;
    }
}
/*menu*/
.menu--item:first-child{
    position: relative;
}
#toggle--menu{
    border:0;
    background-color: transparent;
    background-image: url(../img/menu-icon.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height:24px;
    width: 32px;
    padding: 2px;
}
.submenu{
    position: absolute;
    top:120%;
    left: 0;
    max-width: 300px;
    min-width: 150px;
    background: $textColor;
    color: $backgroundColor;
    padding: 20px;
}
.submenu.ng-hide {
  opacity: 0;
}
.submenu.ng-hide-add,
.submenu.ng-hide-remove {
  transition: all linear 0.2s;
}
#toggle--menu:hover .submenu,
#toggle--menu:focus .submenu,
#toggle--menu:active .submenu{
    display: block;
}
/*logo*/
.oncotv--logo{
    border:0;
    background-color: transparent;
    background-image: url(../img/logo.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height:43px;
    margin:0;
}
/*search*/
#toggle--search{
    @extend #toggle--menu;
    background-image: url(../img/search-icon.svg);
    span{
        visibility: hidden;
    }
}
.search{
    transform: translateX(200px);
    transition: .2s ease-in-out;
    input{
        background: none;
        border: none;
        border-bottom: 2px solid $textColor;
        width:200px;
    }
}
.menu--item:last-child:focus,
.menu--item:last-child:hover,
.menu--item:last-child:active,
.menu--item.active{
    input{
        visibility: visible;
        opacity: 1;
    }
    .search{
        transform: translateX(0);
    }
}